*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #eff0f4;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0  #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

/* .outer-shadow{
    box-shadow: var(--outer-shadow);
}

.hover-in-shadow{
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hover-in-shadow:hover::after{
    box-shadow: var(--inner-shadow);
    border-radius: 50%;
} */

.outer-shadow{
    box-shadow: var(--outer-shadow);
}

.hover-in-shadow{
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

.hover-in-shadow:hover::after{
    box-shadow: var(--inner-shadow);
}

body{
    background: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    /* box-shadow: var(--outer-shadow); */
    border-radius: 50%;
}

.menu-btn::after{
    border-radius: 50%;
}

.menu-btn__burger{
    position: relative;
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    transition: all 0.4s  ease-in-out;
}

.menu-btn__burger::after,
.menu-btn__burger::before{
    content: '';
    position: absolute;
    /* left: 0; */
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.664);
    transition: all 0.4s ease-in-out;
}

.menu-btn__burger::after{
    /* top: 16px; */
    transform: translateY(-16px);
}

.menu-btn__burger::before{
    /* top: -16px; */
    transform: translateY(16px);
}

.open .menu-btn__burger{
    transform: translateX(-50px);
    background: transparent;
}

.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}